@use "variables" as v;

.movie-card {
  width: 200px;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    height: 300px;
    object-fit: cover;
  }

  mat-card-content {
    padding: 16px;

    h3 {
      font-size: v.$font-size-base;
      margin: 0 0 8px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: v.$font-size-base;

      .rating {
        display: flex;
        align-items: center;
        color: v.$color-secondary;

        mat-icon {
          font-size: v.$font-size-base;
          height: 1.2rem;
          width: 1.2rem;
          margin-right: 4px;
        }
      }

      .year {
        color: v.$color-text-secondary;
      }
    }
  }
}
