<mat-card class="movie-card" [routerLink]="['/movie', movie.id]">
  <img
    mat-card-image
    [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
    [alt]="movie.title + ' poster'"
  />

  <mat-card-content>
    <h3>{{ movie.title }}</h3>
    <div class="details">
      <span class="rating">
        <mat-icon>star</mat-icon>
        {{ movie.vote_average | number : "1.1-1" }}
      </span>
      <span class="year">{{ movie.release_date | date : "yyyy" }}</span>
    </div>
  </mat-card-content>
</mat-card>
